@{
    /**/

    ViewBag.Title = "Home Page";
    List<String> list = (List<String>)ViewBag.ListOnlineUsers;
}

<br />

<style type="text/css">
    .sender-text{
    font-size: 8pt
}
</style>

@section scripts{
    <script>

        var hook = true;
        window.onbeforeunload = function () {
            if (hook) {

                $.ajax({
                    url: '@Url.Action("removeUser", "Home")',
                    data: { user: '@ViewBag.n' },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        set(data.msgss);
                        $("#onlineusers").text(data.onlineusers);
                    }
                });

                return "Did you save your stuff?"
            }
        }

        $(document).ready(function () {

            $("#txt-msg").on('keyup', function (e) {
                if (e.keyCode === 13) {
                    enviarmsg();
                }
            });

            get();
        });

        function enviarmsg() {
            $.ajax({
                    url: '@Url.Action("setMsg", "Home")',
                data: { msg: $('#txt-msg').val(), nome: $('#hid-nome').val() },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $('#txt-msg').val('');
                    }
                });
        }

        function get() {
            setInterval(function () {

                $.ajax({
                    url: '@Url.Action("getMgss", "Home")',
                    data: null,//{ CPF: cpf },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        set(data.msgss);
                        $("#onlineusers").text(data.onlineusers);
                    }
                });

            }, 1000);
        }

        function set(data) {
            var html = '';
            for (var i = 0; i < data.length; i++) {
                var obj = data[i];
                var datehora = new Date(parseInt(data[0].datahora.replace('/Date(', '').replace(')/', '')));

                html += '<li><b><span class="sender-text">[' + datehora.toLocaleString() + '] ' + obj.nome + '</span></b><br />' + obj.msg + '</li>';
            }

            $('#ul-msg').html(html);
        }



    </script>
}
<div class="container-fluid">
    <input type="hidden" id="hid-nome" value="@ViewBag.n" />
    <label id="onlineusers"></label>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron" style="overflow-y: scroll;height: 500px;">
                <ul id="ul-msg">
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" id="txt-msg" class="form-control" placeholder="Mensagem" aria-label="Mensagem" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="enviarmsg()">Enviar 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>