@{
    /**/

    ViewBag.Title = "Home Page";
    List<String> list = (List<String>)ViewBag.ListOnlineUsers;
}

<br />

<style type="text/css">
    .sender-text
    {
        font-size: 8pt;
    }

    .de-para{
        cursor: pointer;
    }
</style>

@section scripts{
    <script>

        var hook = true;
        window.onbeforeunload = function () {
            if (hook) {

                $.ajax({
                    url: '@Url.Action("removeUser", "Home")',
                    data: { user: '@ViewBag.n' },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        set(data.msgss);
                        $("#onlineusers").text(data.onlineusers);
                    }
                });

                return "Did you save your stuff?"
            }
        }

        $(document).ready(function () {

            $("#txt-msg").on('keyup', function (e) {
                if (e.keyCode === 13) {
                    enviarmsg();
                }
            });

            get();

            $('.areaMensagens').hover(
                function () {
                    $('.chatMode').show();
                    $('.caixaMensagem').show();
                    $('.workMode').hide();
                  }, function() {
                    $('.chatMode').hide();
                    $('.caixaMensagem').hide();
                    $('.workMode').show();
                  }
            );
        });

        function enviarmsg() {
            $.ajax({
                url: '@Url.Action("setMsg", "Home")',
                data: { msg: $('#txt-msg').val(), nome: $('#hid-nome').val(), para: $('#hid-para').val() },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $('#txt-msg').val('');
                    }
                });
        }

        function get() {
            setInterval(function () {
                $.ajax({
                    url: '@Url.Action("getMgss", "Home")',
                    data: null,//{ CPF: cpf },
                    type: "GET",
                    dataType: "json",
                    success: function (data)
                    {
                        set(data.msgss);
                        
                        var htmlOnlineUsers = '';
                        for (var i = 0; i < data.onlineusers.length; i++)
                        {
                            var usuario = data.onlineusers[i];
                            var userdirect = $('#hid-para').val();

                            if (userdirect == usuario)
                            {
                                htmlOnlineUsers += '<li id="' + usuario + '" class="list-group-item de-para list-group-item-primary" onclick="depara(this)">' + usuario + '</li>';
                            }
                            else
                            {
                                htmlOnlineUsers += '<li id="' + usuario + '" class="list-group-item de-para" onclick="depara(this)">' + usuario + '</li>';
                            }
                            
                        }

                        $('#onlineusers').html(htmlOnlineUsers);
                    }
                });
            }, 1000);
        }

        function set(data) {
            var html = '';
            for (var i = 0; i < data.length; i++)
            {
                var obj = data[i];
                var datehora = new Date(parseInt(data[0].datahora.replace('/Date(', '').replace(')/', '')));
                var usuario = obj.nome;
                html += '<li><b><span class="sender-text">[' + datehora.toLocaleString() + '] ' + obj.nome + '</span></b><br /><span class="mensagemItem">' + formataTxt(obj.msg) + '</span></li>';
            }

            $('#ul-msg').html(html);
        }

        function formataTxt(fulltxt) {

            var palavras = fulltxt.split(' ');
            formatedText = '';

            for (var i = 0; i < palavras.length; i++) {

                var palavra = palavras[i];

                var regex = new RegExp(/[-a-zA-Z0-9@@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@@:%_\+.~#?&//=]*)?/gi);
                
                if (palavra.match(regex))
                {
                    if (palavra.indexOf('//') == -1)
                        formatedText = formatedText + ' <a target="_blank" href="//' + palavra + '">' + palavra + '</a>';
                    else
                        formatedText = formatedText + ' <a target="_blank" href="' + palavra + '">' + palavra + '</a>';
                }
                else
                {
                    formatedText = formatedText + ' ' + palavra;
                }
            }

            return formatedText;
        }

        function depara(li)
        {
            $('.de-para').removeClass('list-group-item-primary');
            $(li).addClass('list-group-item-primary');
            var user = $(li).attr('id');
            $('#hid-para').val(user);
        }

    </script>
}
<div class="container-fluid">
    <input type="hidden" id="hid-nome" value="@ViewBag.n" />
    <label></label>
    <div class="areaMensagens p-2 border shadow-lg">
    <div class="container-fluid">
        <input type="hidden" id="hid-nome" value="@ViewBag.n" />
        <input type="hidden" id="hid-para" value="todos" />
        <label></label>
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary de-para" onclick="depara(this)">Todos</li>
                </ul>
                <br />
                <ul class="list-group" id="onlineusers"></ul>
            </div>
            <div class="col-9 chatMode">
                <div class="jumbotron" style="overflow-y: scroll;height: 500px;">
                    <ul id="ul-msg"></ul>
                </div>
            </div>
            <div class="col-9 workMode">
                <div class="jumbotron" style="overflow-y: scroll;height: 500px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Plugin</th>
                                <th>Versão</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Colorbox</td>
                                <td>1.5.14</td>
                                <td>jQuery lightbox and modal window plugin</td>
                            </tr>
                            <tr>
                                <td>Magnific Popup</td>
                                <td>0.9.9</td>
                                <td>Fast, light, mobile-friendly and responsive lightbox and modal dialog plugin.</td>
                            </tr>
                            <tr>
                                <td>iCheck</td>
                                <td>1.0.2</td>
                                <td>Highly customizable checkboxes and radio buttons (jQuery and Zepto).</td>
                            </tr>
                            <tr>
                                <td>Vide</td>
                                <td>0.1.3</td>
                                <td>Easy as hell jQuery plugin for video backgrounds.</td>
                            </tr>
                            <tr>
                                <td>jQuery Boilerplate</td>
                                <td>3.3.4</td>
                                <td>A jump-start for jQuery plugins development.</td>
                            </tr>
                            <tr>
                                <td>Autosize</td>
                                <td>1.18.13</td>
                                <td>Automatically adjust textarea height based on user input.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row caixaMensagem">
            <div class="col-9 offset-3">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" id="txt-msg" class="form-control" placeholder="Mensagem" aria-label="Mensagem" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="button-addon2" onclick="enviarmsg()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        </div>        
    </div>